NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/health_care?schema=public

JWT_SECRET=change-me
EXPIRE_IN=1d
REFRESH_TOKEN_SECRET=change-me
REFRESH_TOKEN_EXPIRES_IN=30d
RESET_PASS_TOKEN=change-me
RESET_PASS_TOKEN_EXPIRES_IN=10m
RESET_PASS_URL=http://localhost:3000/reset-password

EMAIL=example@example.com
APP_PASS=change-me
SALT_ROUND=12

CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me

STORE_ID=change-me
STORE_PASS=change-me
SUCCESS_URL=http://localhost:5000/api/v1/payments/success
CANCEL_URL=http://localhost:5000/api/v1/payments/cancel
FAIL_URL=http://localhost:5000/api/v1/payments/fail
SSL_PAYMENT_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATIOIN_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
